spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/order_db
  kafka:
    bootstrap-servers: kafka:9092

eureka:
  client:
    service-url:
      defaultZone: http://discovery-server:8761/eureka/
